body{
	background: url(/images/bg.png);
	font-size: 16px;
}
.site-author-image {
	border:none;
}
.header-inner{
	border-radius: 0 0 5px 5px;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.02),0 4px 10px rgba(0,0,0,0.06);
}
.sidebar{
	border-radius: 5px;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.02),0 4px 10px rgba(0,0,0,0.06);
}
.sidebar-inner{
	border-radius: 5px;
}
.content-wrap{
	border-radius: 0 0 5px 5px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.02),0 4px 10px rgba(0,0,0,0.06);
}
.affix.affix.affix{
	box-shadow: 0 0 0 1px rgba(0,0,0,0.02),0 4px 10px rgba(0,0,0,0.06);
}
h1, h2, h3, h4, h5, h6{
	font-weight: lighter;
}
.btn{
	border: 1px solid #555;
}
.post-body p{
	font-weight: lighter;
}
.theme-next #ds-thread #ds-reset .ds-post-options {
	background: #fff;
}
.theme-next #ds-thread #ds-reset .ds-post-toolbar {
	background: #fff;
}
.theme-next #ds-thread #ds-reset .ds-textarea-wrapper {
	border-color: #FC6837;
}
.theme-next #ds-thread #ds-reset .ds-post-toolbar {
	border:1px solid #FC6837;
	border-radius:0 0 3px 3px;
}
.theme-next #ds-thread #ds-reset .ds-post-button {
    background-image: none;
    border: none;
    background: #FC6837;
    color: #FFF;
    font-family: "微软雅黑";
    font-size: 16px;
    font-weight: normal;
    text-shadow: none;
}
.theme-next #ds-thread #ds-reset .ds-post-button:hover{
	color: #fff;
	background: #FF8C69;
}
.back-to-top {
  border-radius: 50%;
  background: #fff;
  color: #000;
  box-shadow: 0 0 5px #ccc;
	width: 30px;
	line-height: 2.4;
  transition: all .3s;
}
.back-to-top:hover {
  border-radius: 0;
  background: #eee;
  box-shadow: 0 0 5px #000;
}